/**
* MDEditorフォントずれ対策
**/
.w-md-editor {
  --md-editor-font-family: "/fonts/MPLUS1-Light.ttf" !important;
}
.w-md-editor-text * {
  font-family: "/fonts/MPLUS1-Light.ttf" !important;
}

.w-md-editor-text-input {
  font-family: "/fonts/MPLUS1-Light.ttf" !important;
}

.w-md-editor-text-pre * {
  font-family: "/fonts/MPLUS1-Light.ttf" !important;
}

.wmde-markdown-color * {
  font-family: "/fonts/MPLUS1-Light.ttf" !important;
}

.wmde-markdown-color pre {
  font-family: "/fonts/MPLUS1-Light.ttf" !important;
}